
<%- include("./partials/header") %>
<%- include ("./partials/messages"); %>

<div class="container" id="expression">
  <h1 style="text-align: center;">Our Services</h1>
  <h3 style="text-align: center;">Providing the safest, quickest and most reliable services to our customers to pay utility</h3>
</div>
<br>
<div class="container">
  <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 mb-3">
          <div class="card" id="cardit" style="width: 100%;" >
              <img src="../public/assets/electric2.jpg" style="height: 15rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Buy Electricity</h5>
                <p class="card-text">The quickest way to purchase and pay for electric bills right at your finger tips</p>
                <a href="/merchant/verify" class="btn btn-dark">Proceed</a>
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 mb-3">
          <div class="card" id="cardit" style="width: 100%;">
              <img src="../public/assets/airtime networks.jpg" style="height: 15rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Purchase Airtime</h5>
                <p class="card-text">Swift purchase of airtime for any network across the country</p>
                <a href="/airtime" class="btn btn-dark">Proceed</a>
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 mb-3">
          <div class="card" id="cardit" style="width: 100%;">
              <img src="../public/assets/data.jpg" style="height: 15rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Mobile Data Subscription</h5>
                <p class="card-text">How about purchasing data to surf the internet from the internet? Sounds fun right.. </p>
                <a href="/data" class="btn btn-dark">Proceed</a>
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 mb-3">
          <div class="card" id="cardit" style="width: 100%;">
              <img src="../public/assets/cable.jpg" style="height: 15rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;">TV Subscription</h5>
                <p class="card-text">Gain access to all your favourite tv shows anytime and anywhere by purchasing tv subscriptions with swiftness</p>
                <a href="/tv_subscription" class="btn btn-dark">Proceed</a>
              </div>
          </div>
      </div>
  </div>
</div>
 
 <%- include("./partials/footer") %>