<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>jamb pin vending</title>
</head>
<body>
  <form action="/jamb/verify" method="post">
    <input type="tel" name="billersCode" placeholder="profile id here">
    <input type="tel" name="serviceID" value="jamb">
   <select name="type" id="">
    <option value="utme">UTME N4700</option>
    <option value="de">Direct entry N4700</option>
   </select>
   <button type="submit">Continue!</button>
  </form>
</body>
</html>