<%- include("./partials/header") %>

<div class="container" id="buyform">
  <h1 style="text-align: center;">Buy Electricity</h1>
  <form action="/merchant/data" method="post">
    <label for="meter_number" class="form-label">Meter Number</label>
    <input class="form-control" type="tel" name="meter_number" id="meter_number" placeholder="put meter number here">
    <label class="form-label" for="type">Select Meter Type</label>
    <select class="form-control" name="type" id="type">
      <option value="prepaid"> Prepaid</option>
      <option value="postpaid"> Postpaid</option>
    </select>

   <label class="form-label" for="service_id">Region</label>
   <select class="form-control" name="service_id" id="service_id">
    <option value="abuja-electric"> Abuja Electric </option>
   </select>

    <button class="btn btn-block btn-dark mt-3 mb-2" style="width: 100%;" type="submit">Proceed</button>
  </form>
</div>

<%- include("./partials/footer") %>