<%- include("partials/header") %>
  <div class="container" id="buyform">
    <h1 style="text-align: center;">Purchase Tv Subsription</h1>
    <form action="/verify_smartcard" method="post">
      <label class="form-label" for="cardnum">Card Number</label>
      <input class="form-control" type="tel" name="card" id="cardnum" placeholder="enter smart card number">
      <label class="form-label" for="serviceID">Select a service</label>
      <select class="form-control" name="serviceID" id="serviceID">
        <option value="dstv">DSTV</option>
        <option value="gotv">GOTV</option>
        <option value="startimes">STARTIMES</option>
      </select>
      <button class="btn btn-dark btn-block mt-3 mb-2" style="width: 100%;" type="submit">Continue</button>
     </form>
  </div>
     

<%- include("partials/footer") %>