<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>But TV subscription here</title>
</head>
<body>
     <form action="/verify_smartcard" method="post">
      <input type="tel" name="card" placeholder="enter smart card number">
      <select name="serviceID" id="">
        <option value="dstv">DSTV</option>
        <option value="gotv">GOTV</option>
        <option value="startimes">STARTIMES</option>
      </select>
      <button type="submit">Continue</button>
     </form>


</body>
</html>