#cardit{
    border: 1px solid #e8e8e8;
    background: #e8e8e8;
    border-radius: 0.5em;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #fff;
}

#buyform{
    margin-top: 20vh;
    width: 70%;
    border: 1px solid #e8e8e8;
    background: #e8e8e8;
    border-radius: 0.5em;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #fff;
}

